{% extends 'main/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container"> <!--class used for bootstrap-->
    <form id="form-container" method="POST" action=""> 
        {% csrf_token %}
        {{user_form|crispy}}
        {{contact_info_form|crispy}}
        {{undergraduate_formset.management_form}}
        {% for form in undergraduate_formset %}
        
        
        {% if form.is_deleted.value %}
        <div class="undergraduate-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="undergraduate-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}

        <!--
        mpainei edo
        -->
        
        <button id="add_undergraduate_form" type="button" class="btn btn-secondary">Add Undergraduate</button>
        <br>
        <br>

        {{postgraduate_formset.management_form}}
        {% for form in postgraduate_formset %}
        

        {% if form.is_deleted.value %}
        <div class="postgraduate-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="postgraduate-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}


        <button id="add_postgraduate_form" type="button" class="btn btn-secondary">Add Postgraduate</button>
        <br>
        <br>
        {{foreign_language_formset.management_form}}
        {% for form in foreign_language_formset %}
        

        {% if form.is_deleted.value %}
        <div class="foreign_language-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="foreign_language-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}


        <button id="add_foreign_language_form" type="button" class="btn btn-secondary">Add Foreign Language</button>
        <br>
        <br>

        {{work_experience_formset.management_form}}
        {% for form in work_experience_formset %}
        {% if form.is_deleted.value %}
        <div class="work_experience-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="work_experience-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}


        <button id="add_work_experience_form" type="button" class="btn btn-secondary">Add Work Experience</button>
        <br>
        <br>

        {{reference_letter_formset.management_form}}
        {% for form in reference_letter_formset %}
        {% if form.is_deleted.value %}
        <div class="reference_letter-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="reference_letter-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}


        <button id="add_reference_letter_form" type="button" class="btn btn-secondary">Add Reference Letter</button>
        <br>
        <br>

        {{scholarship_formset.management_form}}
        {% for form in scholarship_formset %}
        {% if form.is_deleted.value %}
        <div class="scholarship-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="scholarship-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}


        <button id="add_scholarship_form" type="button" class="btn btn-secondary">Add Scholarship</button>
        <br>
        <br>

        {{theses_formset.management_form}}
        {% for form in theses_formset %}
        {% if form.is_deleted.value %}
        <div class="theses-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="theses-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}


        <button id="add_theses_form" type="button" class="btn btn-secondary">Add Theses</button>
        <br>
        <br>


        <input type="submit" value="Submit" class="btn btn-primary"/> 
    </form> 
    
</div>

<script>
    let container = document.querySelector("#form-container")
    console.log(window.location.href)
    
    //variables for dynamically adding forms in undergraduate formset
    let undergraduateForm = document.querySelectorAll(".undergraduate-form")
    console.log(undergraduateForm)
    let addUndergraduateButton = document.querySelector("#add_undergraduate_form")
    //let totalUndergraduateForms = document.querySelector("#id_undergraduate_set-TOTAL_FORMS") //works()
    //console.log(totalUndergraduateForms)
    let undergraduateFormNum = undergraduateForm.length-1
    console.log("undergraduateFormNum: " + undergraduateFormNum)
    //emptyUndergraduateFormNum does not and should not change, because the form that is cloned needs to be an empty one that 
    //hasnt been inserted to the db (otherwise error is raised). So the only form that can be cloned is the one that was last when the page was loaded.
    let emptyUndergraduateFormNum = undergraduateFormNum 
    console.log("emptyUndergraduateFormNum: " + emptyUndergraduateFormNum)
    //let undergraduatePrefix = "undergraduate_set" //works()
    //addUndergraduateButton.addEventListener('click', addForm) //this works
    let undergraduatePrefix //different prefix in create and update template
    let totalUndergraduateForms //different html id in create and update template

    //variables for dynamically adding forms in postgraduate formset
    let postgraduateForm = document.querySelectorAll(".postgraduate-form")
    let addPostgraduateButton = document.querySelector("#add_postgraduate_form")
    let postgraduateFormNum = postgraduateForm.length-1
    let emptyPostgraduateFormNum = postgraduateFormNum 
    console.log("emptyPostgraduateFormNum: " + emptyPostgraduateFormNum)
    let postgraduatePrefix 
    let totalPostgraduateForms

    //variables for dynamically adding forms in foreign language formset
    let foreignLanguageForm = document.querySelectorAll(".foreign_language-form")
    let addForeignLanguageButton = document.querySelector("#add_foreign_language_form")
    let foreignLanguageFormNum = foreignLanguageForm.length-1
    let emptyForeignLanguageFormNum = foreignLanguageFormNum
    let foreignLanguagePrefix
    let totalForeignLanguageForms

    //variables for dynamically adding forms in work experience formset
    let workExperienceForm = document.querySelectorAll(".work_experience-form")
    let addWorkExperienceButton = document.querySelector("#add_work_experience_form")
    let workExperienceFormNum = workExperienceForm.length-1
    let emptyWorkExperienceFormNum = workExperienceFormNum
    let workExperiencePrefix
    let totalWorkExperienceForms

    //variables for dynamically adding forms in reference letter formset
    let referenceLetterForm = document.querySelectorAll(".reference_letter-form")
    let addReferenceLetterButton = document.querySelector("#add_reference_letter_form")
    let referenceLetterFormNum = referenceLetterForm.length-1
    let emptyReferenceLetterFormNum = referenceLetterFormNum
    let referenceLetterPrefix
    let totalReferenceLetterForms

    //variables for dynamically adding forms in scholarship formset
    let scholarshipForm = document.querySelectorAll(".scholarship-form")
    let addScholarshipButton = document.querySelector("#add_scholarship_form")
    let scholarshipFormNum = scholarshipForm.length-1
    let emptyScholarshipFormNum = scholarshipFormNum
    let scholarshipPrefix
    let totalScholarshipForms

    //variables for dynamically adding forms in theses formset
    let thesesForm = document.querySelectorAll(".theses-form")
    let addThesesButton = document.querySelector("#add_theses_form")
    let thesesFormNum = thesesForm.length-1
    let emptyThesesFormNum = thesesFormNum
    let thesesPrefix
    let totalThesesForms

    if (window.location.href.indexOf("create") > -1) { //if url contains 'create', user is trying to create an application
        console.log("create")
        undergraduatePrefix = "undergraduate"
        totalUndergraduateForms = document.querySelector("#id_undergraduate-TOTAL_FORMS")
        //first form is hidden so there is always an empty form to be copied by addForm if page is refreshed because of validation errors plus user has deleted all forms
        undergraduateForm[0].style.display = 'none' 
        
        postgraduatePrefix = "postgraduate"
        //console.log(postgraduatePrefix)
        totalPostgraduateForms = document.querySelector("#id_postgraduate-TOTAL_FORMS")
        //first form is hidden so there is always an empty form to be copied by addForm if page is refreshed because of validation errors plus user has deleted all forms
        postgraduateForm[0].style.display = 'none' 

        foreignLanguagePrefix = "foreign_language"
        totalForeignLanguageForms = document.querySelector("#id_foreign_language-TOTAL_FORMS")
        foreignLanguageForm[0].style.display = 'none' 

        workExperiencePrefix = "work_experience"
        totalWorkExperienceForms = document.querySelector("#id_work_experience-TOTAL_FORMS")
        workExperienceForm[0].style.display = 'none' 

        referenceLetterPrefix = "reference_letter"
        totalReferenceLetterForms = document.querySelector("#id_reference_letter-TOTAL_FORMS")
        referenceLetterForm[0].style.display = 'none' 

        scholarshipPrefix = "scholarship"
        totalScholarshipForms = document.querySelector("#id_scholarship-TOTAL_FORMS")
        scholarshipForm[0].style.display = 'none'

        thesesPrefix = "theses"
        totalThesesForms = document.querySelector("#id_theses-TOTAL_FORMS")
        thesesForm[0].style.display = 'none'
        
    }
    else if (window.location.href.indexOf("update") > -1){ //if url contains 'update', user is trying to update an application
        console.log("update")
        undergraduatePrefix = "undergraduate_set"
        totalUndergraduateForms = document.querySelector("#id_undergraduate_set-TOTAL_FORMS")

        postgraduatePrefix = "postgraduate_set"
        totalPostgraduateForms = document.querySelector("#id_postgraduate_set-TOTAL_FORMS")

        foreignLanguagePrefix = "foreign_language_set"
        totalForeignLanguageForms = document.querySelector("#id_foreign_language_set-TOTAL_FORMS")

        workExperiencePrefix = "work_experience_set"
        totalWorkExperienceForms = document.querySelector("#id_work_experience_set-TOTAL_FORMS")

        referenceLetterPrefix = "reference_letter_set"
        totalReferenceLetterForms = document.querySelector("#id_reference_letter_set-TOTAL_FORMS")

        scholarshipPrefix = "scholarship_set"
        totalScholarshipForms = document.querySelector("#id_scholarship_set-TOTAL_FORMS")

        thesesPrefix = "theses_set"
        totalThesesForms = document.querySelector("#id_theses_set-TOTAL_FORMS")

    }
    
    addPostgraduateButton.addEventListener('click', (e) => {    
        postgraduateFormNum = incrementFormNum(postgraduateFormNum);
        console.log("postgraduateFormNum: " + postgraduateFormNum);
        addForm(e, postgraduateForm, postgraduatePrefix, postgraduateFormNum, addPostgraduateButton, emptyPostgraduateFormNum, totalPostgraduateForms); 
    });


    addUndergraduateButton.addEventListener('click', (e) => {    
        undergraduateFormNum = incrementFormNum(undergraduateFormNum);
        console.log("undergraduateFormNum: " + undergraduateFormNum);
        addForm(e, undergraduateForm, undergraduatePrefix, undergraduateFormNum, addUndergraduateButton, emptyUndergraduateFormNum, totalUndergraduateForms); 
    });


    addForeignLanguageButton.addEventListener('click', (e) => {    
        foreignLanguageFormNum = incrementFormNum(foreignLanguageFormNum);
        console.log("foreignLanguageFormNum: " + foreignLanguageFormNum);
        addForm(e, foreignLanguageForm, foreignLanguagePrefix, foreignLanguageFormNum, addForeignLanguageButton, emptyForeignLanguageFormNum, totalForeignLanguageForms); 
    });


    addWorkExperienceButton.addEventListener('click', (e) => {    
        workExperienceFormNum = incrementFormNum(workExperienceFormNum);
        console.log("workExperienceFormNum: " + workExperienceFormNum);
        addForm(e, workExperienceForm, workExperiencePrefix, workExperienceFormNum, addWorkExperienceButton, emptyWorkExperienceFormNum, totalWorkExperienceForms); 
    });

    
    addReferenceLetterButton.addEventListener('click', (e) => {    
        referenceLetterFormNum = incrementFormNum(referenceLetterFormNum);
        console.log("referenceLetterFormNum: " + referenceLetterFormNum);
        addForm(e, referenceLetterForm, referenceLetterPrefix, referenceLetterFormNum, addReferenceLetterButton, emptyReferenceLetterFormNum, totalReferenceLetterForms); 
    });


    addScholarshipButton.addEventListener('click', (e) => {    
        scholarshipFormNum = incrementFormNum(scholarshipFormNum);
        console.log("scholarshipFormNum: " + scholarshipFormNum);
        addForm(e, scholarshipForm, scholarshipPrefix, scholarshipFormNum, addScholarshipButton, emptyScholarshipFormNum, totalScholarshipForms); 
    });

    
    addThesesButton.addEventListener('click', (e) => {    
        thesesFormNum = incrementFormNum(thesesFormNum);
        console.log("thesesFormNum: " + thesesFormNum);
        addForm(e, thesesForm, thesesPrefix, thesesFormNum, addThesesButton, emptyThesesFormNum, totalThesesForms); 
    });



    //palio function
    function addFormTemp(e){
        e.preventDefault()

        let newForm = undergraduateForm[0].cloneNode(true)
        let formRegex = RegExp(`undergraduate-(\\d){1}-`,'g')

        undergraduateFormNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `undergraduate-${undergraduateFormNum}-`)
        container.insertBefore(newForm, addUndergraduateButton)
            
        totalUndergraduateForms.setAttribute('value', `${undergraduateFormNum+1}`)
    }

    //new test code below, works!!
    const incrementFormNum = (num) => ++num;

    
    function addForm(e, formType, prefix, formNum, buttonType, emptyFormNum, totalForms){
        e.preventDefault()

        let newForm = formType[emptyFormNum].cloneNode(true)
        let formRegex = RegExp(`${prefix}-(\\d){1}-`,'g')
        console.log(formRegex)

        //undergraduateFormNum++ //this works
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${prefix}-${formNum}-`)
        newForm.style.display = 'block' //copied form is hidden
        console.log(newForm)
        container.insertBefore(newForm, buttonType)
            
        totalForms.setAttribute('value', `${formNum+1}`)
    }
    
      
    test = document.getElementById("id_undergraduate-0-univercity")

    //TODO
    container.addEventListener('change', e => {
        hideForm(e)
    });

    function hideForm(e){
        if(e.target.checked && e.target.classList.contains("deleteCheckbox")){
            console.log("delete")
            //form = e.target.closest("div")
            form = e.target.closest(".entire-form")
            form.style.display = 'none'
        }
    }

    

    //deleteCheckbox = document.getElementsByClassName("deleteCheckbox")
    //console.log(test)
    //console.log(test.closest("div")) //works
    //console.log(test.parentNode.parentNode) //works
    

</script>

{% endblock %}

