{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    
    {% if not has_contact_info %}
    <div class="alert alert-warning mt-2" role="alert">
        Make sure you set up your profile.<a href = "{% url 'user_information' %}"> Click here.</a>   
    </div>
    {% endif %}

    <div>
        <div class="table-responsive mt-4">
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Master</th>
                        <th scope="col">Orientation</th>
                        <th scope="col">Creation Date</th>
                        <th scope="col"> Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td scope="row">{{application.master}}</td>
                        <td scope="row">{{application.orientation}}</td>
                        <td scope="row">{{application.created}}</td>
                        <td scope="row">
                            {% if application.is_accepted %}
                            Accepted
                            {% elif application.is_validated %}
                            Validated
                            {% else %}
                            Pending validation
                            {% endif %}
                        </td>
                        <td scope="row"> 
                            {% if not application.is_validated %}
                            <a href = "{% url 'update_master' application.id %}">Edit</a>
                            {% endif %}
                            <a href = "{% url 'delete_application' application.id %}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>    
</div>
{% endblock %}