{% extends 'main/base.html' %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container"> <!--class used for bootstrap-->
    <form id="form-container" method="POST" action=""> 
        {% csrf_token %}
        {{reference_letter_formset.management_form}}
        {% for form in reference_letter_formset %}
        {% if form.is_deleted.value %}
        <div class="reference_letter-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="reference_letter-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}

        
        <button id="add_reference_letter_form" type="button" class="btn btn-secondary">Add Reference Letter</button>

        <input type="submit" value="Next" class="btn btn-primary"/>
    </form>
</div>        


<script src="{% static 'referenceLetter.js' %}"></script>
<script src="{% static 'forms.js' %}"></script>

{% endblock %} 