{% extends 'main/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container"> <!--class used for bootstrap-->
    <form id="form-container" method="POST" action=""> 
        {% csrf_token %}
        {{work_experience_formset.management_form}}
        {% for form in work_experience_formset %}
        {% if form.is_deleted.value %}
        <div class="work_experience-form entire-form" style="display: none;"> <!-- used in case user has deleted the form and page refreshes because of validations errors -->
            {{form|crispy}}
        </div>
        {% else %}
        <div class="work_experience-form entire-form">
            {{form|crispy}}
        </div>
        {% endif %}
        {% endfor %}

        
        <button id="add_work_experience_form" type="button" class="btn btn-secondary">Add Work Experience</button>

        <input type="submit" value="Next" class="btn btn-primary"/>
    </form>
</div>        

<script>
    let container = document.querySelector("#form-container")
    let workExperienceForm = document.querySelectorAll(".work_experience-form")
    let addWorkExperienceButton = document.querySelector("#add_work_experience_form")
    let workExperienceFormNum = workExperienceForm.length-1
    let emptyWorkExperienceFormNum = workExperienceFormNum
    let workExperiencePrefix = "work_experience"
    let totalWorkExperienceForms = document.querySelector("#id_work_experience-TOTAL_FORMS")
    //first form is hidden so there is always an empty form to be copied by addForm if page is refreshed because of validation errors plus user has deleted all forms
    workExperienceForm[0].style.display = 'none' 

    addWorkExperienceButton.addEventListener('click', (e) => {    
        workExperienceFormNum = incrementFormNum(workExperienceFormNum);
        console.log("workExperienceFormNum: " + workExperienceFormNum);
        addForm(e, workExperienceForm, workExperiencePrefix, workExperienceFormNum, addWorkExperienceButton, emptyWorkExperienceFormNum, totalWorkExperienceForms); 
    });

    const incrementFormNum = (num) => ++num;

    function addForm(e, formType, prefix, formNum, buttonType, emptyFormNum, totalForms){
        e.preventDefault()

        let newForm = formType[emptyFormNum].cloneNode(true)
        let formRegex = RegExp(`${prefix}-(\\d){1}-`,'g')
        console.log(formRegex)

        //undergraduateFormNum++ //this works
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${prefix}-${formNum}-`)
        newForm.style.display = 'block' //copied form is hidden
        console.log(newForm)
        container.insertBefore(newForm, buttonType)
            
        totalForms.setAttribute('value', `${formNum+1}`)
    }

    container.addEventListener('change', e => {
        hideForm(e)
    });

    function hideForm(e){
        if(e.target.checked && e.target.classList.contains("deleteCheckbox")){
            console.log("delete")
            //form = e.target.closest("div")
            form = e.target.closest(".entire-form")
            form.style.display = 'none'
        }
    }


</script>    

{% endblock %} 